body {
	background-image: url(../images/bg1.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #f5f5f5;
	font-size: 15px;
	font-family: '\5FAE\8F6F\96C5\9ED1','Arial';
}
#pagecontainer {
	background-image: url(../images/bg.png);
	background-position: left top;
	background-repeat: repeat;
	width:1200px;
	margin:0 auto;
	position: relative;
	top:450px;
}
#pagecontent {
	padding-left: 50px;
	padding-right: 50px;
}
#pagetitle {
	font-size: 25px;
	font-family: '\5FAE\8F6F\96C5\9ED1','Arial';
}
#navbar {
	background:white;
	width:1200px;
	margin:0 auto;
	position: relative;
	height: 31px;
}
.nav li {
	display:inline-block;
	padding:6px;
	font-size: 12px;
	font-family: '\5FAE\8F6F\96C5\9ED1','Arial';
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
}
.nav a {
	text-decoration: none;
	color:black;
	padding: 5px 5px 5px 5px;
}
.nav a:hover {
	border-bottom: 2px solid #49201E;
	background:#C1C1BF;
}
#materialtable table{
	margin: 3px auto;
	padding: 1px;
	border-spacing:0px;
	background: #ccc;
}
#materialtable td{
	padding: 2px;
	border-collapse: separate;
	border: 1px solid #ccc;
	background-color:white;
}
#footer {
	position:absolute;
	left:0px;
	bottom:0px;
	width:1200px;
	text-align:center;
	font-size: 12px;
	font-family: '\5FAE\8F6F\96C5\9ED1','Arial';
	border-top: 2px solid #272822;
}
.container {

}
#armortable {
	margin:1px auto;
	background-color:#18100B;
	color:#ded2b2;
	text-align:center;
}
#armortable td {
	font-size: 14px;
	font-family: '\5FAE\8F6F\96C5\9ED1','Arial';
}
.armorname {
	text-align:right;
	padding-right:10px;
	width:200px;
}
.armorskill {
	text-align:left;
	padding-left:10px;
	width:325px;
}
.type0 {
	color:#8aff2b;
}
.type1 {
	color:#5cbcfe;
}
.armorpiccell {
	width:40px;
	height:40px;
	position:relative;
	background-image: url("../images/itembg.png");
    background-repeat: no-repeat;
    background-position: center;
	text-align:center;
	vertical-align: middle;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
}
.armorpic {
	position:relative;
	top:4px;
	left:4px;
}
.matpic {
	position:relative;
	top:4px;
	left:4px;
}
table.armorinfo {
	padding:0px;
	border:1px solid white;
	width:200px;
}
.armorpiecename {
	text-align:center;
	font-size: 18px !important;
	color:white;
}
.level {
	color:#fd935b;
}
.skillamount {
	text-align:left;
	width:30%;
}
.list {
	list-style:none;
	display:inline;
}
.item {/*box-shadow: h-shadow v-shadow blur spread color inset;*/
	height: 40px;
	text-align:center;
	float:left;
}
.item:hover + .info {
	display:block;
}
.info {
	position:absolute;
	top:10px;
	left:50px;
	width:200px;
	background-color:#18100b;
	margin-top:0px;
	margin-left:0px;
	float:left;
	display:none;
	z-index: 5;
	text-align:left;
	padding-left:0px;
}
.info td {
	padding-left: 5px;
	padding-right: 5px;
}
.item:hover + .info, .info:hover {
    display:block;
}
.list2 {
	list-style:none;
	display:inline;
}
.item2:hover + .info2 {
	display:block;
}
.info2 {
	position:absolute;
	bottom:2px;
	right:2px;
	width:40px;
	height:40px;
	background-image: url("../images/itembg.png");
	margin-top:0px;
	margin-left:0px;
	float:left;
	display:none;
	z-index: 5;
}
.item2:hover + .info2, .info2:hover {
    display:block;
}
.attrib00000 {
	display:none;
}
.water0 {
	display:none;
}
.fire0 {
	display:none;
}
.thunder0 {
	display:none;
}
.dragon0 {
	display:none;
}
.ice0 {
	display:none;
}
.noskill {
	display:none;
}
.nomat {
	display:none;
}
.skill1 {
	color:green;
}
.skill2 {
	color:green;
}
.skill3 {
	color:green;
}
.skill4 {
	color:green;
}
.skill5 {
	color:green;
}
.skill-1 {
	color:red;
}
.skill-2 {
	color:red;
}
.skill-3 {
	color:red;
}
.skill-4 {
	color:red;
}
.skill-5 {
	color:red;
}
.white {
	color:white;
}
hr {
	color:#241C17;
	background-color:#241C17;
	text-align:center;
	margin: 0 auto;
	width:100%;
	height:1px;
}