body {
	background-image:url(../images/bg2.png);
	background-position:center top;
	background-repeat:no-repeat;
	background-color:#f5f5f5;
	font-size:15px;
	font-family:'\5FAE\8F6F\96C5\9ED1','Arial';
}
#pagecontainer {
	background-image:url(../images/bg.png);
	background-position:left top;
	background-repeat:repeat;
	width:1200px;
	margin:0 auto;
	position:relative;
	top:450px;
}
#pagecontent {
	padding-left:50px;
	padding-right:50px;
}
#pagetitle {
	font-size:25px;
	font-family:'\5FAE\8F6F\96C5\9ED1','Arial';
}
#navbar {
	margin:15px auto;
	width:1200px;
	z-index:1;
}
#navbar ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	background:#191D22;
}
#navbar ul a {
	display:block;
	color:#F8F764;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#navbar ul a:hover {
	color:#191D22;
}
#navbar ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#navbar ul li.current-menu-item {
	background:#ddd;
}

#navbar ul li:hover {
	background:#ccc;
}

#navbar ul ul li:hover {
	background:#191D22;
}

#navbar ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#ccc;
	padding:0;
	z-index:10;
}

#navbar ul ul li {
	float:none;
	width:200px;
}

#navbar ul ul a {
	line-height:120%;
	padding:10px 15px;
	color:#191D22;
}
#navbar ul ul a:hover {
	color:#F8F764;
}

#navbar ul ul ul {
	top:0;
	left:100%;
}

#navbar ul li:hover > ul {
	display:block;
}
#materialtable table{
	margin:1px auto;
	background-color:#222;
	color:#ded2b2;
	text-align:center;
}
#materialtable td{
	padding:2px;
	font-size:14px;
	font-family:'\5FAE\8F6F\96C5\9ED1','Arial';
	border-collapse:collapse;
	background-color:#18100B;
	color:#ded2b2;
}
#footer {
	display:inline-block;
	width:1200px;
	margin:0px auto;
	text-align:center;
	font-size:12px;
	font-family:'\5FAE\8F6F\96C5\9ED1','Arial';
}
.footertop {
	border-top:2px solid #272822;
}
.footerspacing {
	height:450px;
}
#monstertable {
	margin:0px auto;
	text-align:center;
	font-size:15px;
	font-family:'\5FAE\8F6F\96C5\9ED1','Arial';
	background:transparent;
}
#monstertable td {
	background:transparent;
	width:125px;
	vertical-align:top;
}
#weapontable {
	margin:0px auto;
	text-align:center;
	font-size:15px;
	font-family:'\5FAE\8F6F\96C5\9ED1','Arial';
	background:transparent;
}
#weapontable td {
	background:transparent;
	width:125px;
	vertical-align:top;
}
.monstertitle {
	text-align:center;
	font-size:25px;
	font-family:'\5FAE\8F6F\96C5\9ED1','Arial';
}
.monsterspacer {
	height:50px;
}
#armortable {
	margin:1px auto;
	background-color:#222;
	color:#ded2b2;
	text-align:center;
	border-spacing:2px;
	border-collapse:collapse;
}
#armortable td {
	font-size:14px;
	font-family:'\5FAE\8F6F\96C5\9ED1','Arial';
<<<<<<< HEAD
	padding:5px;
=======
	border-collapse:collapse;
	background-color:#18100B;
}
#weapons {
	margin:1px auto;
	background-color:#18100B;
	color:#ded2b2;
	text-align:center;
}
.bow {
	background:url(../images/bowbg.png) 0 0 no-repeat;
}
.bowgun {
	background:url(../images/bowgunbg.png) 0 0 no-repeat;
}
.dualblades {
	background:url(../images/dualbladesbg.png) 0 0 no-repeat;
}
.greatsword {
	background:url(../images/greatswordbg.png) 0 0 no-repeat;
}
.gunlance {
	background:url(../images/gunlancebg.png) 0 0 no-repeat;
}
.hammer {
	background:url(../images/hammerbg.png) 0 0 no-repeat;
}
.huntinghorn {
	background:url(../images/huntinghornbg.png) 0 0 no-repeat;
}
.lance {
	background:url(../images/lancebg.png) 0 0 no-repeat;
}
.longsword {
	background:url(../images/longswordbg.png) 0 0 no-repeat;
}
.swordandshield {
	background:url(../images/swordandshieldbg.png) 0 0 no-repeat;
}
#weapons td {
	font-size:14px;
	font-family:'\5FAE\8F6F\96C5\9ED1','Arial';
	border-collapse:collapse;
	background: transparent;
}
#weapons div {
	display:block;
	margin:0px auto;
}
.forgeicon {
    display:inline-block;
    position:absolute;
    bottom:-39px;
    right:-2px;
    width:16px;
    height:16px;
    background:url(../images/forgeicon.png) 0 0 no-repeat;
    z-index:4;
}
.basePro {
	background:url(../images/sharpnessbg.gif) 0 center no-repeat;
	width:214px;
	height:6px;
	padding:3px 17px 5px 14px;
	position:absolute;
	top:0px;
	left:0px;
}
.basePro .barWidth {
	position:relative;
}
.basePro .colorBar {
	float:left;
	height:6px;
}
.basePro .leaveBar {
	float:right;
	height:6px;
	background-color:#353334;
	position:absolute;
	right:0;
}
.basePro .bar-1 {
	background-color:#9f2e10;
}
.basePro .bar-2 {
	background-color:#bb7a27;
}
.basePro .bar-3 {
	background-color:#ccd52a;
}
.basePro .bar-4 {
	background-color:#01af14;
}
.basePro .bar-5 {
	background-color:#304ecf;
}
.basePro .bar-6 {
	background-color:#fff;
}
.basePro .bar-7 {
	background-color:#6009b8;
}
#jewelrytable {
	margin:1px auto;
	background-color:#222;
	color:#ded2b2;
	text-align:center;
}
.sharpbar {
	position:relative;
	height:14px;
    background-repeat:no-repeat;
    background-position:left;
}
#jewelrytable td {
	font-size:14px;
	font-family:'\5FAE\8F6F\96C5\9ED1','Arial';
	border-collapse:collapse;
	background-color:#18100B;
}
.weaponpic {
	position:relative;
	top:5px;
	left:3px;
	margin:0px auto;
>>>>>>> refs/remotes/origin/master
}
.armorname {
	text-align:right;
	padding-right:10px;
}
.armorskill {
	text-align:left;
	padding-left:10px;
}
.type0 {
	color:#8aff2b;
}
.type1 {
	color:#5cbcfe;
}
.armorpiccell {
	width:40px;
	height:40px;
	position:relative;
	background-image:url("../images/itembg.png");
    background-repeat:no-repeat;
    background-position:center;
	text-align:center;
	vertical-align:middle;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
}
.matpiccell {
	width:40px;
	height:40px;
	position:relative;
	background-image:url("../images/itembg.png");
    background-repeat:no-repeat;
    background-position:center;
	text-align:center;
	vertical-align:middle;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
}
.armorpic {
	position:relative;
	top:4px;
	left:4px;
}
.matpic {
	position:relative;
	top:4px;
	left:4px;
}
table.armorinfo {
	padding:0px;
	border:1px solid white;
	width:200px;
}
table.weaponinfo {
	padding:0px;
	border:1px solid white;
	width:250px;
	background:#18100B ;
}
table.weapon弩 {
	padding:0px;
	border:1px solid white;
	width:320px;
	background:#18100B ;
}
table.weapon狩猎笛 {
	padding:0px;
	border:1px solid white;
	width:320px;
	background:#18100B ;
}
table.innertable {
	padding:0px;
}
table.innertable td {
	padding:0px;
}
.piecename {
	text-align:center;
	font-size:18px !important;
	color:white;
}
.level {
	color:#fd935b;
}
.skillamount {
	text-align:left;
	width:30%;
}
.list {
	list-style:none;
	padding:0;
	margin:0;
}
.item {/*box-shadow:h-shadow v-shadow blur spread color inset;*/
	height:40px;
	text-align:center;
	float:left;
}
.item:hover + .info {
	display:block;
}
.info {
	position:absolute;
	top:10px;
	left:31px;
	width:200px;
	background-color:#18100b;
	margin-top:0px;
	margin-left:0px;
	float:left;
	display:none;
	z-index:5;
	text-align:left;
	padding-left:0px;
}
.info td {
	padding-left:5px;
	padding-right:5px;
}
.item:hover + .info, .info:hover {
    display:block;
}
.list2 {
	list-style:none;
	display:inline;
}
.item2:hover + .info2 {
	display:block;
}
.info2 {
	position:absolute;
	bottom:2px;
	right:2px;
	width:40px;
	height:40px;
	background-image:url("../images/itembg.png");
	margin-top:0px;
	margin-left:0px;
	float:left;
	display:none;
	z-index:5;
}
.item2:hover + .info2, .info2:hover {
    display:block;
}
.Rapid-fire {
	display:none;
}
.Charge {
	display:none;
}
.no {
	display:none;
}
.no0 {
	display:none;
}
.no00000 {
	display:none;
}
.poison {
	color:#b722ff;
}
.paralysis {
	color:#ffdc19;
}
.sleep {
	color:#179dce;
}
.noskill {
	display:none;
}
.skill1 {
	color:green;
}
.skill2 {
	color:green;
}
.skill3 {
	color:green;
}
.skill4 {
	color:green;
}
.skill5 {
	color:green;
}
.skill-1 {
	color:red;
}
.skill-2 {
	color:red;
}
.skill-3 {
	color:red;
}
.skill-4 {
	color:red;
}
.skill-5 {
	color:red;
}
.white {
	color:#ffffff;
}
.gray {
	color:#808080;
}
hr {
	color:#241C17;
	background-color:#241C17;
	text-align:center;
	margin:0 auto;
	width:100%;
	height:1px;
}