body {
	background-image:url(../images/bg.png);
	background-position:left top;
	background-repeat:repeat;
}
#outerdiv
{
   width:500px;
   height:500px;
   overflow:hidden;
   position:relative;
}
#mainCon
{
   position:absolute;
   top:-700px;
   left:-280px;
   width:1280px;
   height:1200px;
}
.w3-top {
	z-index: 5 !important;
}
#navbar {
	z-index: 5 !important;
}
.headerspace {
	height: 150px;
}
.topright {
	position: fixed;
	top:2;
	right:2;
}
.food {
	max-width: 460px !important;
}
img {
	width: 100%;
	height: auto;
}
tr.border_bottom td {
  border-bottom:1pt solid black;
}
div.border_bottom{
  border-bottom:1pt solid black;
  border-bottom-style: solid;
}
.monsters {
	height: 270px;
	text-align: center;
}
#monstertable {
	margin:0px auto;
	text-align:center;
}
#monstertable td {
	width:100px;
	vertical-align:top;
}
#weapontable {
	margin:0px auto;
	text-align:center;
	font-size:15px;
	font-family:'\5FAE\8F6F\96C5\9ED1','Arial';
	background:transparent;
}
#weapontable td {
	background:transparent;
	width:125px;
	vertical-align:top;
}
#weapontalent .tier {
	width: 60px;
}
.monstertitle {
	text-align:center;
	font-size:25px;
	font-family:'\5FAE\8F6F\96C5\9ED1','Arial';
}
.monsterspacer {
	height:50px;
}
#weapons {
	margin:0px auto;
	width: auto;
	height: auto;
	background-color:#18100B;
	color:#ded2b2;
	text-align:center;
}
.bow {
	background:url(../images/bowbg.png) 0 0 no-repeat;
}
.bowgun {
	background:url(../images/bowgunbg.png) 0 0 no-repeat;
}
.dualblades {
	background:url(../images/dualbladesbg.png) 0 0 no-repeat;
}
.greatsword {
	background:url(../images/greatswordbg.png) 0 0 no-repeat;
}
.gunlance {
	background:url(../images/gunlancebg.png) 0 0 no-repeat;
}
.hammer {
	background:url(../images/hammerbg.png) 0 0 no-repeat;
}
.huntinghorn {
	background:url(../images/huntinghornbg.png) 0 0 no-repeat;
}
.lance {
	background:url(../images/lancebg.png) 0 0 no-repeat;
}
.longsword {
	background:url(../images/longswordbg.png) 0 0 no-repeat;
}
.swordandshield {
	background:url(../images/swordandshieldbg.png) 0 0 no-repeat;
}
#weapons td {
	font-size:14px;
	font-family:'\5FAE\8F6F\96C5\9ED1','Arial';
	border-collapse:collapse;
	padding: 2px
}
#weapons div {
	display:block;
	margin:0px auto;
}
#footer {
	height: 200px !important;
	overflow-y: hidden;
}
.forgeicon {
    display:inline-block;
    position:absolute;
    bottom:-39px;
    right:-2px;
    width:16px;
    height:16px;
    background:url(../images/forgeicon.png) 0 0 no-repeat;
    z-index:4;
}
.basePro {
	width:214px;
	height:6px;
	padding:3px 17px 5px 14px;
	position:absolute;
	top:0px;
	left:0px;
}
.basePro .barWidth {
	position:relative;
}
.basePro .colorBar {
	float:left;
	height:6px;
}
.basePro .leaveBar {
	float:right;
	height:6px;
	background-color:#353334;
	position:absolute;
	right:0;
}
.basePro .bar-1 {
	background-color:#9f2e10;
}
.basePro .bar-2 {
	background-color:#bb7a27;
}
.basePro .bar-3 {
	background-color:#ccd52a;
}
.basePro .bar-4 {
	background-color:#01af14;
}
.basePro .bar-5 {
	background-color:#304ecf;
}
.basePro .bar-6 {
	background-color:#fff;
}
.basePro .bar-7 {
	background-color:#6009b8;
}
.sharpbar {
	position:relative;
	height:14px;
    background-repeat:no-repeat;
    background-position:left;
}
.weaponpic {
	position:relative;
	top:5px;
	left:3px;
	margin:0px auto;
>>>>>>> refs/remotes/origin/master
}
.type0 {
	color:#8aff2b;
}
.type1 {
	color:#5cbcfe;
}
.typeB {
	background-color:#8aff2b;
}
.typeG {
	background-color:#5cbcfe;
}
.matpiccell {
	width:40px;
	height:40px;
	position:relative;
	background-image:url("../images/itembg.png");
    background-repeat:no-repeat;
    background-position:center;
	text-align:center;
	vertical-align:middle;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
}
.matpic {
	position:relative;
	top:4px;
	left:4px;
}
table.armorinfo {
	padding:0px;
	width:200px;
}
table.weaponinfo {
	padding:0px;
	border:1px solid white;
	width:250px;
	background:#18100B ;
}
table.weapon弩 {
	padding:0px;
	border:1px solid white;
	width:320px;
	background:#18100B ;
}
table.weapon狩猎笛 {
	padding:0px;
	border:1px solid white;
	width:320px;
	background:#18100B ;
}
table.innertable {
	padding:0px;
}
table.innertable td {
	padding:0px;
}
.piecename {
	text-align:center;
	font-size:18px !important;
	color:white;
}
.level {
	color:#fd935b;
}
.skillamount {
	text-align:left;
	width:30%;
}
.list {
	list-style:none;
	padding:0;
	margin:0;
}
.item {/*box-shadow:h-shadow v-shadow blur spread color inset;*/
	height:40px;
	text-align:center;
	float:left;
}
.item:hover + .info {
	display:block;
}
.info {
	position:fixed;
	top:88px;
	left:0px;
	width:200px;
	display:none;
	z-index:5;
	text-align:left;
}
.info td {
	padding-left:5px !important;
	padding-right:5px !important;
}
.item:hover + .info, .info:hover {
    display:block;
}
.Rapid-fire {
	display:none !important;
}
.Charge {
	display:none !important;
}
.no {
	display:none !important;
}
.no0 {
	display:none !important;
}
.no00000 {
	display:none !important;
}
.poison {
	color:#b722ff !important;
}
.paralysis {
	color:#ffdc19 !important;
}
.sleep {
	color:#179dce !important;
}
.noskill {
	display:none !important;
}
.skill {
	display:none !important;
}
.skill1 {
	color:green !important;
}
.skill2 {
	color:green !important;
}
.skill3 {
	color:green !important;
}
.skill4 {
	color:green !important;
}
.skill5 {
	color:green !important;
}
.skill-1 {
	color:red !important;
}
.skill-2 {
	color:red !important;
}
.skill-3 {
	color:red !important;
}
.skill-4 {
	color:red !important;
}
.skill-5 {
	color:red !important;
}
.plus-1 {
	display: none;
}
.plus-2 {
	display: none;
}
.plus-3 {
	display: none;
}
.plus-4 {
	display: none;
}
.plus-5 {
	display: none;
}
.white {
	color:#ffffff;
}
.gray {
	color:#808080;
}
hr {
	color:#241C17;
	background-color:#241C17;
	text-align:center;
	margin:0 auto;
	width:100%;
	height:1px;
}
.Lv40 {
	display:none !important;
}
#helmet_button {
	width: 51px;
	height: 50px;
	background:url(../images/simulator/simu-groove-9.gif) no-repeat;border:none;
}
.setrow {
	height: 50px;
}
#vambraces_button {
	width: 51px;
	height: 50px;
	background:url(../images/simulator/simu-groove-7.gif) no-repeat;border:none;
}
#armor_button {
	width: 51px;
	height: 50px;
	background:url(../images/simulator/simu-groove-8.gif) no-repeat;border:none;
}
#waist_button {
	width: 51px;
	height: 50px;
	background:url(../images/simulator/simu-groove-6.gif) no-repeat;border:none;
}
#greaves_button {
	width: 51px;
	height: 50px;
	background:url(../images/simulator/simu-groove-5.gif) no-repeat;border:none;
}
.armorimage {
	width: 32px;
	height: 32px;
	position: relative;
	top: 9px;
	left: 9px;
}
.armorimage1 {
	width: 32px;
	height: 32px;
}
.buttons {
	width: 200px;
	height: 300px;
}
.search {
	width:700px;
	height: 50px;
}
.results {
	max-height: 300px;
	overflow-y: scroll;
}
#simulator {
	width: 100%;
}
.containerright {
	display: inline-block;
}
#simtable {
	width: 1200px;
	margin: 0 auto;
}
.img-skill {
	width: 16px;
	height: 16px;
}
.skilltable {
	width: 1000px;
	margin: 0 auto;
}
.button {
	cursor:pointer;
}
.infosection {
	display:none;
}
.infocontainer {
	display: inline-block;
	vertical-align: middle;
}
#helmet_button {
	vertical-align: middle;
}
#vambraces_button {
	vertical-align: middle;
}
#armor_button {
	vertical-align: middle;
}
#waist_button {
	vertical-align: middle;
}
#greaves_button {
	vertical-align: middle;
}
.helmettable {
	width: 100%;
	margin: 0px auto;
}
.helmettable td {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.vambracestable {
	width: 100%;
	margin: 0px auto;
}
.vambracestable td {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.armortable {
	width: 100%;
	margin: 0px auto;
}
.armortable td {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.waisttable {
	width: 100%;
	margin: 0px auto;
}
.waisttable td {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.greavestable {
	width: 100%;
	margin: 0px auto;
}
.greavestable td {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.info12 {
	width: 100%;
}
.builder {
	height: 32px; 
}